.comment-icon {
    display: inline-block;
    cursor: pointer;
    width: 28px;
}


.mds-icon {
    width: 28px;
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
}