.calendar-sidebar {
    border: 2px solid lightgray;
    border-radius: 20px;
    padding: 20px;
    height: 600px;
}

.calendar-events-wrap {
    overflow-y: scroll;
    height: 79%;
}


.calendar-events {
    transform: scale(0);
    opacity: 0;
    transition: 1s all;
}

.calendar-events-show {
    transform: scale(1);
    opacity: 1;
    transition: 1s all;
}