.popup-parent {
    position: relative;
}

.popup-box {
    background-color: rgb(56, 56, 56);
    opacity: 0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 75px;
    right: 135px;
    transform: translate(98%, -64%);
    transition: opacity .25s ease-in-out;
    height: 130px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 100;

    &-show {
        opacity: 1;
    }

    p {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    &:before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 3px;
        left: 98%;
        width: 10px;
        height: 20px;
        border-left: solid 15px rgb(56, 56, 56);
        border-bottom: solid 15px transparent;
        border-top: solid 15px transparent;
    }
}