.plus {
    margin: 0 !important;
    padding: 0;
    display: inline-block;
    transition: 0.2s ease-in-out;
    margin: auto;
    opacity: 0.6;
    transform: rotate(45deg) scale(1);
    width: 20px;
    height: 20px;
    // background-color: coral;
    cursor: pointer;

    svg {
        vertical-align: top !important;
    }

    &:hover {
        opacity: 0.9;
        transform: rotate(-45deg) scale(1.2);
    }
}