@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.7;
  transition: all 500ms;
}

.navbar-link:hover {
  color: #fff;
  opacity: 1;
}

.h100 {
  height: calc(100vh - 56px);
}